
.res-container {
    display: flex;
    flex-flow: row wrap;
    font-family: Trebuchet MS;
}

.header {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.bio {
    width: 100%;
    text-align: center;
    font-style: italic;
}

.main-section {
    width: 75%;
    margin: 10px;
}

.exp-subheader {
    display: flex;
    justify-content: space-between;
}

h3 {
    margin: 5px;
}

.education-subheader {
    display: flex;
    justify-content: space-between;
}

h4 {
    margin: 5px;
}

h5 {
    margin: 5px;
}

p {
    margin: 5px;
}

.skills {
    width: 10%;
    margin: 10px;
}

.skill-level {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.skill {
    text-align: center;
}


.section-header {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}

.dates {
    text-transform: uppercase;
}

li {
    font-size: 14px;
}

p {
    font-size: 14px;
}